@import url(https://fonts.googleapis.com/css?family=Roboto:regular,italic,500,900&display=swap);

@import url(https://fonts.googleapis.com/css?family=Righteous:regular);

@charset "UTF-8";

@font-face {
  font-family: icomoon;
  font-display: swap;
  src: url("../fonts/icomoon.woff2") format("woff2"), url("../fonts/icomoon.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=icon-]:before {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=icon-]:before {
  display: block;
}

.icon-linkedin:before {
  content: "\e906";
}

.icon-aboutMe:before {
  content: "\e907";
}

.icon-email:before {
  content: "\e901";
}

.icon-fb:before {
  content: "\e900";
}

.icon-fbFull:before {
  content: "\e902";
}

.icon-location:before {
  content: "\e903";
}

.icon-phone:before {
  content: "\e904";
}

.icon-tel:before {
  content: "\e905";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #ffffff;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 40px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  border: 1px solid #fcca2e;
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: rgba(97, 90, 107, 0.937254902);
  padding: 20px;
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
}

.lock .popup__content {
  visibility: visible;
}

.popup__content .popup__text {
  line-height: 150%;
  padding: 1.25rem;
}

[data-showmore-button] span:last-child {
  display: none;
}

._showmore-active [data-showmore-button] span {
  display: none;
}

._showmore-active [data-showmore-button] span:last-child {
  display: block;
}

* {
  cursor: none !important;
}

.fls-cursor {
  z-index: 152;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
}

.fls-cursor__pointer {
  position: fixed;
  width: 1.25rem;
  height: 1.25rem;
  top: 0;
  left: 0;
}

.fls-cursor__pointer::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: rgba(9, 1, 24, 0.6470588235);
  -webkit-backdrop-filter: invert(100%);
          backdrop-filter: invert(100%);
}

.fls-cursor._hover .fls-cursor__pointer::after {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}

.fls-cursor._active .fls-cursor__pointer::after {
  -webkit-transition: -webkit-transform 0.05s ease 0s;
  transition: -webkit-transform 0.05s ease 0s;
  -o-transition: transform 0.05s ease 0s;
  transition: transform 0.05s ease 0s;
  transition: transform 0.05s ease 0s, -webkit-transform 0.05s ease 0s;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-weight: 500;
  line-height: 118%;
  text-transform: capitalize;
}

.title span {
  color: #fcca2e;
  line-height: 118%;
  text-transform: capitalize;
}

.btn {
  display: inline-block;
  font-size: 16px;
  background-color: #fcca2e;
  color: #0c0023;
  padding: 1.0625rem 2.125rem 1.0625rem 1.75rem;
  text-transform: capitalize;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-box-shadow 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-box-shadow 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 0.8s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-box-shadow 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  outline: none;
}

.btn:hover,
.btn:focus {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 2px 2px 38px rgba(255, 255, 255, 0.4901960784) inset;
          box-shadow: 0px 2px 2px 38px rgba(255, 255, 255, 0.4901960784) inset;
}

.btn:active {
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
  color: rgba(27, 45, 70, 0.8039215686);
  -webkit-box-shadow: 0px 10px 20px rgba(33, 55, 133, 0.713) inset;
          box-shadow: 0px 10px 20px rgba(33, 55, 133, 0.713) inset;
}

._anim-show-top {
  -webkit-transform: translate(0px, 30%);
      -ms-transform: translate(0px, 30%);
          transform: translate(0px, 30%);
  opacity: 0;
}

._anim-show-left {
  -webkit-transform: translate(-20%, 0px);
      -ms-transform: translate(-20%, 0px);
          transform: translate(-20%, 0px);
  opacity: 0;
}

._anim-show-left._active,
._anim-show-top._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

._anim-show-opacity {
  opacity: 0;
}

._anim-show-opacity._active {
  opacity: 1;
  -webkit-transition: opacity 1s ease-in 0.2s;
  -o-transition: opacity 1s ease-in 0.2s;
  transition: opacity 1s ease-in 0.2s;
}

:not(:hover) ._anim-show-top._active.service__item:nth-of-type(2) {
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

:not(:hover) ._anim-show-top._active.service__item:nth-of-type(3) {
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

:not(:hover) ._anim-show-top._active.service__item:nth-of-type(4) {
  -webkit-transition-delay: 0.6s;
       -o-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

:not(:hover) ._anim-show-top._active.service__item:nth-of-type(5) {
  -webkit-transition-delay: 0.8s;
       -o-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

body {
  background: #090118;
}

.header {
  z-index: 50;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
}

.header__container {
  position: relative;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 81px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 40px;
  max-width: 40px;
}

.header__logo img {
  max-width: 100%;
}

.header__buttons {
  text-align: right;
  width: 21%;
}

.header__btn {
  background-color: #fcca2e;
  color: #090118;
  border: 1px solid #fff;
  padding: 10px 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__btn_active {
  background-color: #090118;
  color: white;
}

.header__btn:hover,
.header__btn:focus {
  border-color: #090118;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}

.menu__item {
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu__item:active {
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
}

.menu__link {
  line-height: 119%;
  position: relative;
  padding: 15px;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  outline: none;
}

.menu__link:hover,
.menu__link:focus {
  color: #fcca2e;
}

.menu__link:hover:after,
.menu__link:focus:after {
  animation: fill 0.7s forwards;
  -webkit-animation: fill 0.7s forwards;
  -moz-animation: fill 0.7s forwards;
}

.menu__link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  content: "";
  background: #fcca2e;
}

.icon-menu {
  display: none;
}

@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }

  50% {
    width: 100%;
    height: 1px;
  }

  100% {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1764705882);
  }
}

.no-webp .footer{
  background-image: url("../img/footer-overlow.png"); }

.footer {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer__container {
  padding-top: 160px;
  padding-bottom: 20px;
  max-width: 35.625rem;
  text-align: center;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 27px;
  margin-bottom: 5.625rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__socials a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 2.5625rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  color: #0f012c;
  background-color: #fcca2e;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyright {
  font-size: 14px;
}

.footer__coffee {
  text-align: left;
  -webkit-transition: all 1.3s ease;
  -o-transition: all 1.3s ease;
  transition: all 1.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  line-height: 125%;
  margin-bottom: 6.25rem;
}

.footer__coffee-anim {
  position: relative;
}

.footer__coffee-image {
  min-width: 7.5rem;
  max-width: 11.25rem;
  z-index: 2;
  text-align: center;
}

.footer__coffee-img {
  width: 100%;
}

.footer__coffee-vapour {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.footer__coffee-vapour span {
  margin: 0 2px 50px;
  top: -10px;
  position: relative;
  display: block;
  min-width: 5px;
  height: 40px;
  background: rgba(255, 255, 255, 0.659);
  border-radius: 50%;
  -webkit-animation: animate 6s linear infinite;
          animation: animate 6s linear infinite;
  opacity: 0;
  -webkit-filter: blur(8px);
          filter: blur(8px);
  -webkit-animation-delay: calc(var(--i) * -0.5s);
          animation-delay: calc(var(--i) * -0.5s);
  -webkit-transition: min-width 0.4s, display 1s, -webkit-filter 0.6s;
  transition: min-width 0.4s, display 1s, -webkit-filter 0.6s;
  -o-transition: filter 0.6s, min-width 0.4s, display 1s;
  transition: filter 0.6s, min-width 0.4s, display 1s;
  transition: filter 0.6s, min-width 0.4s, display 1s, -webkit-filter 0.6s;
}

.footer__coffee-vapour span:hover {
  display: none;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  min-width: 15px;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(0) scaleX(1);
            transform: translateY(0) scaleX(1);
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  50% {
    -webkit-transform: translateY(-60px) scaleX(4);
            transform: translateY(-60px) scaleX(4);
  }

  95% {
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(-100px) scaleX(8);
            transform: translateY(-100px) scaleX(8);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateY(0) scaleX(1);
            transform: translateY(0) scaleX(1);
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  50% {
    -webkit-transform: translateY(-60px) scaleX(4);
            transform: translateY(-60px) scaleX(4);
  }

  95% {
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(-100px) scaleX(8);
            transform: translateY(-100px) scaleX(8);
  }
}

.hero__container {
  height: 100vh;
  position: relative;
  padding-top: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__container:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #fcca2e;
  left: 67%;
  z-index: -5;
}

.hero__container:before {
  content: "Julia";
  position: absolute;
  top: 55%;
  left: 0;
  font-family: "Righteous";
  opacity: 0.2;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  z-index: -1;
}

.hero__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

.hero__title {
  margin-bottom: 1.375rem;
  font-size: 50px;
  -webkit-transition: -webkit-transform 1.3s ease 0.2s;
  transition: -webkit-transform 1.3s ease 0.2s;
  -o-transition: transform 1.3s ease 0.2s;
  transition: transform 1.3s ease 0.2s;
  transition: transform 1.3s ease 0.2s, -webkit-transform 1.3s ease 0.2s;
  max-width: 45.5rem;
}

.hero__title span:not(.hero__name) {
  color: #fff;
}

.hero__title-letter {
  display: inline-block;
  width: 57px;
  border: 1px solid rgba(255, 255, 255, 0.4156862745);
  text-align: center;
  line-height: 108%;
  -webkit-box-shadow: 1px 4px 4px 0px rgba(255, 255, 255, 0.2509803922) inset;
          box-shadow: 1px 4px 4px 0px rgba(255, 255, 255, 0.2509803922) inset;
}

.hero__title-letter:not(:last-of-type) {
  margin-right: 5px;
}

.hero__title-nowrap {
  white-space: nowrap;
}

.hero__subtitle {
  font-size: 21px;
  line-height: 143%;
  margin-bottom: 5.8125rem;
  -webkit-transition: all 1.3s ease 0.4s;
  -o-transition: all 1.3s ease 0.4s;
  transition: all 1.3s ease 0.4s;
}

.hero__btn-about {
  width: 260px;
  text-align: center;
}

.hero__photo-full {
  z-index: 1;
  overflow: hidden;
  max-width: 36%;
}

.hero__photo-full img {
  width: 100%;
}

.hero__photo-mobile {
  display: none;
}

.hero__photo-mobile img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.icon-aboutMe {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 0.8125rem;
}

.services {
  background-color: #0c0023;
}

.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service__item {
  background-color: #0f012c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.75rem 1.125rem;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 20%;
  border: 1px solid #0f012c;
}

.service__image {
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service__image img {
  max-width: 80px;
  width: 100%;
  -webkit-transition: opacity 1s ease 0.2s;
  -o-transition: opacity 1s ease 0.2s;
  transition: opacity 1s ease 0.2s;
}

.service__name {
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 117%;
  font-size: 24px;
  color: #fcca2e;
  -webkit-transition: -webkit-transform 1.3s ease;
  transition: -webkit-transform 1.3s ease;
  -o-transition: transform 1.3s ease;
  transition: transform 1.3s ease;
  transition: transform 1.3s ease, -webkit-transform 1.3s ease;
}

.service__descr p {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin-bottom: 1.25rem;
}

.service__descr {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 150%;
  max-width: 219px;
  -webkit-transition: -webkit-transform 1.3s ease;
  transition: -webkit-transform 1.3s ease;
  -o-transition: transform 1.3s ease;
  transition: transform 1.3s ease;
  transition: transform 1.3s ease, -webkit-transform 1.3s ease;
}

.about {
  padding-top: 5.625rem;
  padding-bottom: 5.625rem;
  background-color: #090118;
}

.about__title {
  padding-left: 0.75rem;
  margin-bottom: 2.1875rem;
  -webkit-transition: -webkit-transform 1.3s ease;
  transition: -webkit-transform 1.3s ease;
  -o-transition: transform 1.3s ease;
  transition: transform 1.3s ease;
  transition: transform 1.3s ease, -webkit-transform 1.3s ease;
}

.about__title span:first-of-type {
  color: #fff;
}

.about__text {
  text-align: justify;
  line-height: 128%;
  -webkit-column-count: 4;
     -moz-column-count: 4;
          column-count: 4;
  -webkit-column-width: 16.25rem;
     -moz-column-width: 16.25rem;
          column-width: 16.25rem;
  -webkit-column-gap: 1.375rem;
     -moz-column-gap: 1.375rem;
          column-gap: 1.375rem;
  text-indent: 35px;
  -webkit-column-rule: 3px solid #fcca2e;
     -moz-column-rule: 3px solid #fcca2e;
          column-rule: 3px solid #fcca2e;
  -webkit-transition: -webkit-transform 1.3s ease 0.3s;
  transition: -webkit-transform 1.3s ease 0.3s;
  -o-transition: transform 1.3s ease 0.3s;
  transition: transform 1.3s ease 0.3s;
  transition: transform 1.3s ease 0.3s, -webkit-transform 1.3s ease 0.3s;
}

.about__descr {
  padding: 0 0.75rem;
}

.portfolio {
  background-color: #0c0023;
}

.portfolio__container {
  padding: 6.25rem 0.625rem;
  text-align: center;
}

.portfolio__title {
  padding-bottom: 1.25rem;
  -webkit-transition: -webkit-transform 1.3s ease;
  transition: -webkit-transform 1.3s ease;
  -o-transition: transform 1.3s ease;
  transition: transform 1.3s ease;
  transition: transform 1.3s ease, -webkit-transform 1.3s ease;
}

.portfolio__title span:first-of-type {
  color: #fff;
}

.portfolio__item {
  overflow: hidden;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  aspect-ratio: 2.7/2;
  z-index: 50;
  border-width: 2px;
  border-style: solid;
  -o-border-image: -o-linear-gradient(top, #fcca2e, #090118) 1 1;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#fcca2e), to(#090118)) 1 1;
     border-image: linear-gradient(to bottom, #fcca2e, #090118) 1 1;
}

.portfolio__item_text {
  text-align: left;
  border: none;
  -webkit-filter: none;
          filter: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__item:hover:not(.portfolio__item_text) {
  -webkit-box-shadow: 0px -2px 14px #fcca2e;
          box-shadow: 0px -2px 14px #fcca2e;
}

.portfolio video {
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.portfolio__btn {
  text-align: center;
}

.portfolio__descr {
  -webkit-transition: all 1.3s ease 0.2s;
  -o-transition: all 1.3s ease 0.2s;
  transition: all 1.3s ease 0.2s;
}

.block__content {
  margin: 0 auto;
  margin-bottom: 1.875rem;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 2.0625rem;
     -moz-column-gap: 2.0625rem;
          column-gap: 2.0625rem;
  row-gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
  grid-template-rows: repeat(3, 1fr);
}

.block__content li {
  padding-bottom: 1.4375rem;
}

.noname {
  background-color: #0c0023;
}

.noname__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5;
  gap: 0.625rem;
  -webkit-box-shadow: inset 14px 0px 0px 2px #fcca2e;
          box-shadow: inset 14px 0px 0px 2px #fcca2e;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.noname__container:after {
  content: "";
  height: 100%;
  width: 100vw;
  position: absolute;
  top: 0;
  background-color: #fcca2e;
  right: 45%;
  z-index: -1;
}

.noname__left-column {
  padding-top: 120px;
  padding-bottom: 120px;
  padding-right: 0.625rem;
  width: 55%;
  color: #0c0023;
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
}

.noname__left-column q {
  font-size: 27px;
  font-style: italic;
}

.noname__left-column cite {
  display: block;
  font-style: normal;
  margin-top: 1.25rem;
  line-height: 130%;
  font-weight: 500;
  font-size: 20px;
  text-align: right;
}

.noname__left-column span {
  display: block;
  font-size: 15px;
  font-weight: 400;
  text-align: right;
}

.noname__thumb {
  border-radius: 50%;
  max-width: 150px;
  background-color: #0c0023;
  padding: 0.3125rem;
  aspect-ratio: 1/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-bottom: 38px;
}

.noname__thumb img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.noname__right-column {
  padding: 1.25rem 0 1.25rem 0.625rem;
  width: 43%;
  line-height: 130%;
  font-size: 27px;
  -webkit-transition: 1.3s;
  -o-transition: 1.3s;
  transition: 1.3s;
}

.tools__container {
  padding-top: 3.125rem;
}

.tools__title {
  text-align: center;
  -webkit-transition: -webkit-transform 3.8s ease-in-out;
  transition: -webkit-transform 3.8s ease-in-out;
  -o-transition: transform 3.8s ease-in-out;
  transition: transform 3.8s ease-in-out;
  transition: transform 3.8s ease-in-out, -webkit-transform 3.8s ease-in-out;
}

.tools__title span:nth-of-type(2) {
  color: #fff;
}

.swiper-wrapper {
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  width: 5rem;
}

.swiper-slide img {
  width: 100%;
  aspect-ratio: 1/1;
}

/** Code for hover info **/

dfn {
  background: rgba(0, 0, 0, 0.2);
  border-bottom: dashed 1px rgba(0, 0, 0, 0.8);
  padding: 0 0.0625rem;
  cursor: help;
  position: relative;
}

dfn::after {
  content: attr(data-info);
  display: inline;
  position: absolute;
  top: 22px;
  left: 0;
  opacity: 0;
  width: 150px;
  font-size: 13px;
  font-weight: 400;
  line-height: 120%;
  padding: 0.125rem 0.0625rem;
  background: rgba(76, 84, 99, 0.94);
  color: #090118;
  pointer-events: none;
  -webkit-transition: opacity 0.2s, top 0.2s;
  -o-transition: opacity 0.2s, top 0.2s;
  transition: opacity 0.2s, top 0.2s;
}

dfn::before {
  content: "";
  display: block;
  position: absolute;
  top: 12px;
  left: 20px;
  opacity: 0;
  width: 0;
  height: 0;
  border: solid transparent 5px;
  border-bottom-color: #fcca2e;
  -webkit-transition: opacity 0.2s, top 0.2s;
  -o-transition: opacity 0.2s, top 0.2s;
  transition: opacity 0.2s, top 0.2s;
}

dfn:hover {
  z-index: 2;
}

dfn:hover::after,
dfn:hover::before {
  opacity: 1;
}

dfn:hover::after {
  top: 90px;
}

dfn:hover::before {
  top: 80px;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 66.875em) {
  .hero__container:before {
    font-size: 43.75rem;
  }
}

@media (min-width: 106.25em) {
  .hero__container:before {
    margin-left: -14.375rem;
  }
}

@media (min-width: 75em) {
  .title {
    font-size: 3.125rem;
  }
}

@media (max-width: 1100px) {
  .header__buttons {
    width: 28%;
  }
}

@media (max-width: 815px) {
  .menu__link {
    font-size: 0.875rem;
  }
}

@media (max-width: 646px) {
  .hero__container:after {
    content: none;
  }

  .hero__title {
    font-size: 32px;
  }

  .hero__photo-full {
    display: none;
  }

  .hero__photo-mobile {
    position: absolute;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 49%;
    margin-left: auto;
    z-index: -1;
  }
}

@media (max-width: 630px) {
  .service__image {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 15px;
  }

  .service__name {
    text-align: center;
  }
}

@media (max-width: 574px) {
  .hero__photo-mobile {
    width: 43%;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 1.5625rem;
  }
}

@media (max-width: 65.625rem) {
  .services__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }

  .service__item {
    min-width: 30%;
  }
}

@media (max-width: 61.99875em) {
  .header {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }

  .header__buttons {
    width: 21%;
  }

  .menu__list {
    gap: 0.75rem;
  }

  .footer__container {
    padding-top: 120px;
  }

  .hero__container:after {
    left: 75%;
  }

  .hero__descr {
    margin-bottom: 3.125rem;
    margin-top: 3.125rem;
    padding-right: 30%;
  }

  .hero__title {
    font-size: 40px;
  }

  .hero__photo-full {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 5.625rem;
  }

  .service__descr {
    max-width: 100%;
  }

  .about {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .portfolio__container {
    padding: 5rem 0.625rem;
  }

  .noname__left-column {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .noname__right-column {
    font-size: 22px;
  }
}

@media (max-width: 57.5em) {
  .hero__container:before {
    font-size: 25rem;
  }
}

@media (max-width: 47.99875em) {
  :not(:hover) ._anim-show-top._active.service__item:nth-of-type(5) {
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
  }

  .header {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .header__buttons {
    width: auto;
  }

  .header__btn {
    padding: 8px 12px;
    font-size: 0.875rem;
    background-color: #090118;
    color: white;
  }

  .header__btn_active {
    color: #090118;
    background-color: #fcca2e;
  }

  .menu__body {
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    -webkit-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
            transform: translateX(-200%);
    width: 100vw;
    height: 100vh;
    background-color: rgba(75, 86, 87, 0.7);
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.3, 0.84, 0.44, 1);
    transition: -webkit-transform 1s cubic-bezier(0.3, 0.84, 0.44, 1);
    -o-transition: transform 1s cubic-bezier(0.3, 0.84, 0.44, 1);
    transition: transform 1s cubic-bezier(0.3, 0.84, 0.44, 1);
    transition: transform 1s cubic-bezier(0.3, 0.84, 0.44, 1), -webkit-transform 1s cubic-bezier(0.3, 0.84, 0.44, 1);
  }

  .menu-open .menu__body {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition-delay: 0.07s;
         -o-transition-delay: 0.07s;
            transition-delay: 0.07s;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(76, 84, 99, 0.94);
    width: 50%;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 21px;
    text-transform: uppercase;
    gap: 2rem;
  }

  .menu__link {
    font-size: 1.375rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
    -webkit-transition: -webkit-transform 1.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: -webkit-transform 1.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: transform 1.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 1.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 1.2s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 1.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .icon-menu:hover {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    left: 0;
    position: absolute;
    width: 70%;
    height: 0.09375rem;
    background-color: #fcca2e;
  }

  .icon-menu::before {
    width: 100%;
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
    width: 40%;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before,
  .menu-open .icon-menu::after {
    width: 100%;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__container {
    padding-top: 100px;
  }

  .hero__descr {
    margin-top: 0rem;
  }

  .hero__title-letter {
    width: 40px;
  }

  .hero__subtitle {
    width: 70%;
    margin-bottom: 2.5rem;
  }

  .hero__btn-about {
    margin-bottom: 2.5rem;
  }

  .hero__photo-full {
    width: 41.5%;
    max-width: 41.5%;
  }

  .service__item {
    min-width: 45%;
  }

  .about {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }

  .block__content {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .noname__left-column q {
    font-size: 20px;
  }

  .noname__left-column cite {
    font-size: 16px;
  }

  .noname__left-column span {
    font-size: 12px;
  }

  .noname__right-column {
    font-size: 15px;
  }

  .swiper-slide {
    width: 4.375rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 35.875rem) {
  .hero__descr {
    padding-right: 0;
  }
}

@media (max-width: 29.99875em) {
  .menu__link {
    font-size: 1.125rem;
  }

  .footer__coffee {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .hero__container {
    height: auto;
  }

  .hero__descr {
    margin-bottom: 1.25rem;
  }

  .hero__subtitle {
    font-size: 18px;
    width: 100%;
  }

  .hero__btn-about {
    width: 100%;
    margin-bottom: 1.25rem;
  }

  .hero__photo-mobile {
    display: none;
  }

  .service__item {
    min-width: 100%;
    padding: 1.75rem;
  }

  .service__btn {
    min-width: 100%;
  }

  .portfolio__container {
    padding-top: 3.125rem;
  }

  .portfolio__item_text {
    aspect-ratio: auto;
  }

  .portfolio__btn {
    width: 100%;
  }

  .block__content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    margin-bottom: 2.5rem;
  }

  .block__content li {
    padding-bottom: 0;
  }

  .noname__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .noname__container:after {
    right: 0;
    max-height: 23.125rem;
  }

  .noname__left-column {
    width: 100%;
    padding-right: 0;
  }

  .noname__right-column {
    width: 100%;
  }

  .swiper-slide {
    width: 3.125rem;
  }
}

@media (min-width: 20em) and (max-width: 75em) {
@supports (font-size: clamp( 1.5625rem , 0.9943181818rem  +  2.8409090909vw , 3.125rem )) {
    .title {
      font-size: clamp( 1.5625rem , 0.9943181818rem  +  2.8409090909vw , 3.125rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 0.9943181818rem  +  2.8409090909vw , 3.125rem )) {
    .title {
      font-size: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 55);
    }
}
}

@media (min-width: 57.5em) and (max-width: 66.875em) {
@supports (font-size: clamp( 25rem , -90rem  +  200vw , 43.75rem )) {
    .hero__container:before {
      font-size: clamp( 25rem , -90rem  +  200vw , 43.75rem );
    }
}

@supports not (font-size: clamp( 25rem , -90rem  +  200vw , 43.75rem )) {
    .hero__container:before {
      font-size: calc(25rem + 18.75 * (100vw - 57.5rem) / 9.375);
    }
}
}

@media (min-width: 73.125em) and (max-width: 106.25em) {
@supports (margin-left: clamp( -14.375rem , 31.7334907665rem  +  -43.3962266038vw , 0.0000000625rem )) {
    .hero__container:before {
      margin-left: clamp( -14.375rem , 31.7334907665rem  +  -43.3962266038vw , 0.0000000625rem );
    }
}

@supports not (margin-left: clamp( -14.375rem , 31.7334907665rem  +  -43.3962266038vw , 0.0000000625rem )) {
    .hero__container:before {
      margin-left: calc(0.0000000625rem + -14.3750000625 * (100vw - 73.125rem) / 33.125);
    }
}
}

@media (any-hover: hover) {
  .service__item:hover {
    border: 1px solid #fcca2e;
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
  }

  .portfolio__item:hover {
    -webkit-filter: contrast(1.1);
            filter: contrast(1.1);
  }
}

.webp .footer{ background-image: url(../img/footer-overlow.webp); }